{% extends "base.html" %}

{% block app_content %}

<center>
	<img src="{{ url_for('static', filename='images/hireme.png') }}" 
	alt="hireme logo"
	width="100" height="100">
	</img>
	<br><br>
	<p class="article_text">Why should you hire me?</p>
	<img
	src="{{ url_for('static', filename='images/header_ornament_left.png') }}"
	alt="header ornament left"
	width="100em" height="25em">
	</img>
		<div class="buzzword_sequence" id="buzzword_holder" width="10em;"></div>
		<script type="text/javascript">
			var buzzwords = {{ content.buzzwords | tojson }};
		</script>
		<script type="text/javascript" src="{{ url_for('static', filename='scripts/buzzwords.js') }}"></script>
	<img src="{{ url_for('static', filename='images/header_ornament_right.png') }}"
	alt="header ornament left"
	width="100em" height="25em">
	</img>
</center>

<div id="welcome_message" style="text-align: center;">
	<div style="display: inline-block; text-align: left; width: 60%;">
		<br><br><br>
		<center>
		<p class="article_text">
			Welcome, potential new employer!
		</p>
		</center>
		<br><br>
		<p class="article_text">
		This website is designed to showcase my skill-set. I know that my professional and educational history may seem lacking,
		however I aim to prove myself via this project. I know that it's a lot to ask of an employer to simply 'trust my word'.
		Hopefully this will help to convince you that whatever task you need done, I'm your man.
		</p>
		<p class="article_text">
			<br><br><br>
			<b>Overview:</b><br><br>This website is self hosted using AWS and the Amazon Linux 2 AMI. It is running a custom Python Flask
			application using Bootstrap for some of the design-work. The database used by this webapp is located in Amazon's RDS service,
			and is currently MySQL, although this application has features to support Postgres and MariaDB as well.
			<br><br>
			You may use the 'contact' page to notify me of any potential positions you may have for me within your organization, or you
			can reach out directly to my email.
			<br><br>
		</p>
		<center>
		<br><br>
		<a class="article_text" href="mailto: lorand.nagy@nagyinv.com">lorand.nagy@nagyinv.com</a>
		<p class="article_text">
			Thanks for your time, I hope to hear from you soon!
		</p>
		</center>
		<br><br><br>
	</div>
</div>

{% endblock %}